# Manipulating Data with Pandas Part 1
* Adding to Values
* Create New Columns
* Dropping Columns
* Replacing Values

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
data = pd.read_csv('auto-mpg.csv',header=None,sep='\s+',names=['mpg','cylinders','displacement','horsepower',' weight','acceleration','model year','origin','car name'])
data

## Adding to Columns

In [ ]:
data['model year'] = data['model year'].astype(str).apply(lambda x: '19' + x)
data

## Create New Columns

In [ ]:
data['car make'] = data['car name'].str.split().str[0]
data
data['car model'] = data['car name'].str.split().str[1:]
data
data['car model'] = [' '.join(map(str,r)) for r in data['car model']]
data

## Drop Columns & Rows

In [ ]:
data.drop(columns=['origin','car name'],inplace=True)
data

In [ ]:
data.drop(index=34,inplace=True)
data

## Mispelled Words & Replacing Values

In [ ]:
data.groupby('car make').nunique()

In [ ]:
data['car make'].replace({'toyouta':'toyota'
                          ,'mercedes':'mercedes-benz'
                          ,'maxda':'mazda'
                          ,'chevroelt':'chevrolet'
                          ,'chevy':'chevrolet'
                         ,'vokswagen':'volkswagen'
                         ,'vw':'volkswagen'}, inplace=True)

In [ ]:
data.groupby('car make').nunique()

# Manipulating Data in Pandas Part 2
* Fill or Drop Missing Values
* Change Data Types

In [ ]:
data.isnull().sum()

In [ ]:
data.groupby('car make').hist(column='horsepower')

In [ ]:
data['mpg'] = data.groupby('car make').transform(lambda x: x.fillna(round(x.mean(),0)))
data['horsepower'] = data.groupby('car make').transform(lambda x: x.fillna(round(x.mean(),0)))

In [ ]:
data.isnull().sum()

In [ ]:
data.dropna(inplace=True)
data.isnull().sum()

In [ ]:
data

In [ ]:
data.dtypes

In [ ]:
data['mpg'] = data['mpg'].astype(int)
data['cylinders'] = data['cylinders'].astype(int)
data['displacement'] = data['displacement'].astype(int)
data['horsepower'] = data['horsepower'].astype(int)
data[' weight'] = data[' weight'].astype(int)
data['acceleration'] = data['acceleration'].astype(int)
data.dtypes

In [ ]:
data['model year'] = pd.to_numeric(data['model year']).astype(int)
data.dtypes

In [ ]:
data

# Manipulating Data with Pandas Part 3
* Dealing with multiple column headers + Row Indexes
* Pivoting and Unpivioting Data

In [1]:
import pandas as pd
data = pd.read_csv('Auto MPG Multi Column.csv')
data

,model year,1970,1970.1,1970.2,1970.3,1970.4,1970.5,1970.6,1970.7,1970.8,...,1982.6,1982.7,1982.8,1982.9,1982.10,1982.11,1982.12,1982.13,1982.14,1982.15
0,car make,amc,audi,bmw,buick,chevrolet,datsun,dodge,ford,peugeot,...,ford,honda,mazda,mercury,nissan,oldsmobile,plymouth,pontiac,toyota,volkswagen
1,mpg,17.6,24.0,26.0,14.5,15.4,27.0,13.0,17.166666666666668,25.0,...,25.25,35.333333333333336,34.0,36.0,36.0,38.0,38.0,29.0,33.0,40.0
2,cylinders,7.2,4.0,4.0,8.0,8.0,4.0,8.0,7.666666666666667,4.0,...,4.5,4.0,4.0,4.0,4.0,6.0,4.0,4.0,4.0,4.0
3,displacement,290.4,107.0,121.0,402.5,363.6,97.0,350.5,324.0,110.0,...,158.0,96.33333333333333,91.0,98.0,120.0,262.0,105.0,131.5,126.0,101.0
4,horsepower,17.6,24.0,26.0,14.5,15.4,27.0,13.0,17.166666666666668,25.0,...,25.25,35.333333333333336,34.0,36.0,36.0,38.0,38.0,29.0,33.0,40.0
5,weight,3311.0,2430.0,2234.0,3389.5,4027.4,2130.0,3972.5,3729.8333333333335,2672.0,...,2778.75,2045.0,1997.5,2125.0,2160.0,3015.0,2125.0,2655.0,2455.0,2055.0
6,acceleration,12.2,14.0,12.0,10.5,11.2,14.0,11.5,11.5,17.0,...,15.75,14.666666666666666,17.5,17.0,14.0,17.0,14.0,17.0,14.5,19.5

In [2]:
data = pd.read_csv('Auto MPG Multi Column.csv',header=[0,1],index_col=[0])
data

model year      1970                                                    \
car make         amc    audi     bmw   buick chevrolet  datsun   dodge
mpg             17.6    24.0    26.0    14.5      15.4    27.0    13.0
cylinders        7.2     4.0     4.0     8.0       8.0     4.0     8.0
displacement   290.4   107.0   121.0   402.5     363.6    97.0   350.5
horsepower      17.6    24.0    26.0    14.5      15.4    27.0    13.0
 weight       3311.0  2430.0  2234.0  3389.5    4027.4  2130.0  3972.5
acceleration    12.2    14.0    12.0    10.5      11.2    14.0    11.5

model year                                  ...     1982                       \
car make             ford peugeot plymouth  ...     ford        honda   mazda
mpg             17.166667    25.0     18.0  ...    25.25    35.333333    34.0
cylinders        7.666667     4.0      7.6  ...     4.50     4.000000     4.0
displacement   324.000000   110.0    335.8  ...   158.00    96.333333    91.0
horsepower      17.166667    25.0     18.0  ...    25.25    35.333333    34.0
 weight       3729.833333  2672.0   3671.2  ...  2778.75  2045.000000  1997.5
acceleration    11.500000    17.0     10.4  ...    15.75    14.666667    17.5

model year
car make     mercury  nissan oldsmobile plymouth pontiac  toyota volkswagen
mpg             36.0    36.0       38.0     38.0    29.0    33.0       40.0
cylinders        4.0     4.0        6.0      4.0     4.0     4.0        4.0
displacement    98.0   120.0      262.0    105.0   131.5   126.0      101.0
horsepower      36.0    36.0       38.0     38.0    29.0    33.0       40.0
 weight       2125.0  2160.0     3015.0   2125.0  2655.0  2455.0     2055.0
acceleration    17.0    14.0       17.0     14.0    17.0    14.5       19.5

[6 rows x 209 columns]

In [3]:
data = data.T
data

                        mpg  cylinders  displacement  horsepower   weight  \
model year car make
1970       amc         17.6        7.2         290.4        17.6   3311.0
           audi        24.0        4.0         107.0        24.0   2430.0
           bmw         26.0        4.0         121.0        26.0   2234.0
           buick       14.5        8.0         402.5        14.5   3389.5
           chevrolet   15.4        8.0         363.6        15.4   4027.4
...                     ...        ...           ...         ...      ...
1982       oldsmobile  38.0        6.0         262.0        38.0   3015.0
           plymouth    38.0        4.0         105.0        38.0   2125.0
           pontiac     29.0        4.0         131.5        29.0   2655.0
           toyota      33.0        4.0         126.0        33.0   2455.0
           volkswagen  40.0        4.0         101.0        40.0   2055.0

                       acceleration
model year car make
1970       amc                 12.2
           audi                14.0
           bmw                 12.0
           buick               10.5
           chevrolet           11.2
...                             ...
1982       oldsmobile          17.0
           plymouth            14.0
           pontiac             17.0
           toyota              14.5
           volkswagen          19.5

[209 rows x 6 columns]

In [4]:
data.reset_index(inplace=True)
data

,model year,car make,mpg,cylinders,displacement,horsepower,weight,acceleration
0,1970,amc,17.6,7.2,290.4,17.6,3311.0,12.2
1,1970,audi,24.0,4.0,107.0,24.0,2430.0,14.0
2,1970,bmw,26.0,4.0,121.0,26.0,2234.0,12.0
3,1970,buick,14.5,8.0,402.5,14.5,3389.5,10.5
4,1970,chevrolet,15.4,8.0,363.6,15.4,4027.4,11.2
...,...,...,...,...,...,...,...,...
204,1982,oldsmobile,38.0,6.0,262.0,38.0,3015.0,17.0
205,1982,plymouth,38.0,4.0,105.0,38.0,2125.0,14.0
206,1982,pontiac,29.0,4.0,131.5,29.0,2655.0,17.0
207,1982,toyota,33.0,4.0,126.0,33.0,2455.0,14.5
208,1982,volkswagen,40.0,4.0,101.0,40.0,2055.0,19.5

In [6]:
pivot = data.pivot(index='model year',columns='car make', values='mpg')
pivot

car make,amc,audi,bmw,buick,cadillac,capri,chevrolet,chrysler,datsun,dodge,...,peugeot,plymouth,pontiac,renault,saab,subaru,toyota,triumph,volkswagen,volvo
model year,,,,,,,,,,,,,,,,,,,,,
1970,17.600000,24.0,26.0,14.5,NaN,NaN,15.400000,NaN,27.000000,13.000000,...,25.0,18.000000,14.000000,NaN,25.0,NaN,24.000000,NaN,26.00,NaN
1971,18.333333,NaN,NaN,NaN,NaN,NaN,20.250000,NaN,31.000000,12.000000,...,30.0,18.666667,15.333333,NaN,NaN,NaN,28.000000,NaN,29.50,NaN
1972,16.000000,NaN,NaN,13.0,NaN,NaN,15.333333,13.0,28.000000,26.500000,...,21.0,14.500000,14.000000,26.0,NaN,NaN,24.666667,NaN,22.50,18.0
1973,15.750000,20.0,NaN,12.5,NaN,NaN,14.833333,13.0,22.000000,15.000000,...,NaN,17.000000,16.000000,NaN,24.0,NaN,20.000000,NaN,26.00,19.0
1974,16.333333,29.0,NaN,13.0,NaN,NaN,18.666667,NaN,31.500000,21.000000,...,NaN,19.000000,NaN,NaN,NaN,26.0,31.500000,NaN,26.00,NaN
1975,18.000000,23.0,NaN,19.0,NaN,NaN,17.250000,NaN,24.000000,NaN,...,23.0,17.666667,19.500000,NaN,25.0,NaN,26.500000,NaN,27.00,22.0
1976,18.000000,NaN,NaN,NaN,16.0,25.0,21.000000,NaN,32.000000,18.750000,...,19.0,17.500000,18.000000,27.0,NaN,NaN,23.500000,NaN,29.00,20.0
1977,NaN,NaN,21.0,25.0,NaN,NaN,19.750000,15.0,27.500000,24.000000,...,NaN,22.000000,20.000000,36.0,NaN,30.0,26.000000,NaN,29.50,NaN
1978,18.500000,20.0,NaN,18.5,NaN,NaN,23.000000,NaN,29.666667,21.000000,...,16.0,21.500000,19.000000,NaN,21.0,NaN,24.000000,NaN,37.00,17.0
1979,23.500000,NaN,NaN,22.0,23.0,NaN,21.333333,18.0,31.000000,24.333333,...,27.0,34.000000,27.000000,NaN,NaN,NaN,NaN,NaN,31.00,NaN
1980,24.000000,35.0,NaN,NaN,NaN,NaN,30.000000,NaN,36.500000,23.000000,...,NaN,NaN,NaN,40.0,NaN,33.0,33.000000,35.0,39.25,NaN
1981,NaN,NaN,NaN,24.0,NaN,NaN,23.000000,17.0,31.000000,25.000000,...,28.0,32.500000,NaN,34.0,24.0,32.0,33.250000,NaN,33.00,30.0
1982,23.000000,NaN,NaN,25.0,NaN,NaN,29.400000,26.0,38.000000,32.333333,...,NaN,38.000000,29.000000,NaN,NaN,NaN,33.000000,NaN,40.00,NaN

In [7]:
pivot.reset_index(inplace=True)

In [9]:
value_variables = pivot.columns[1:].to_list()
value_variables

['amc',
 'audi',
 'bmw',
 'buick',
 'cadillac',
 'capri',
 'chevrolet',
 'chrysler',
 'datsun',
 'dodge',
 'fiat',
 'ford',
 'honda',
 'mazda',
 'mercedes-benz',
 'mercury',
 'nissan',
 'oldsmobile',
 'opel',
 'peugeot',
 'plymouth',
 'pontiac',
 'renault',
 'saab',
 'subaru',
 'toyota',
 'triumph',
 'volkswagen',
 'volvo']

In [10]:
unpivot = pivot.melt(id_vars='model year',value_vars=value_variables,value_name='mpg')
unpivot

    model year car make        mpg
0         1970      amc  17.600000
1         1971      amc  18.333333
2         1972      amc  16.000000
3         1973      amc  15.750000
4         1974      amc  16.333333
..         ...      ...        ...
372       1978    volvo  17.000000
373       1979    volvo        NaN
374       1980    volvo        NaN
375       1981    volvo  30.000000
376       1982    volvo        NaN

[377 rows x 3 columns]

In [11]:
unpivot.dropna(inplace=True)
unpivot

    model year car make        mpg
0         1970      amc  17.600000
1         1971      amc  18.333333
2         1972      amc  16.000000
3         1973      amc  15.750000
4         1974      amc  16.333333
..         ...      ...        ...
367       1973    volvo  19.000000
369       1975    volvo  22.000000
370       1976    volvo  20.000000
372       1978    volvo  17.000000
375       1981    volvo  30.000000

[209 rows x 3 columns]